.starter{
    min-height: 80vh;
    min-width: 50vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 18, 18);
    border-radius: 3rem;
    padding: 3rem;
    color: beige;
}